#root {
  margin: 0 auto;
  text-align: center;
}


.card {
  margin-bottom: 2rem;
  padding: 2em;
}

.search {
  margin-bottom: 2rem;
  padding: 2em;
}

.button {
  border-radius: 8px;
  padding: 0.7em 1.5em;
  font-size: 1.8rem;
  font-family: "Cat";
  color: #64ff90;
  cursor: pointer;
  background-color: #172070;
  transition: 0.25s;
}

.button:hover {
  border-color: #ffc93c;
  filter: brightness(1.2);
}

.button:focus,
.button:focus-visible {
  outline: none;
}
