#root {
  margin: 0 auto;
  text-align: center;

}

.card {
  padding: 2em;
}

.big-button {
  border-radius: 8px;
  padding: 0.3em 1.8em;
  font-size: 1.5rem;
  font-family: "Cat";
  color: #64ff90;
  cursor: pointer;
  background-color: #172070;
  transition: 0.25s;
}

.big-button:hover {
  border-color: #ffc93c;
  filter: brightness(1.2);
}

.big-button:focus,
.big-button:focus-visible {
  outline: none;
}

